h1 , p , h3 ,h2 {
  margin: 0;
  padding: 0;
  display: block;;
}
.navbar {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 1rem;
   background: #fffaf4;
   position: fixed;
   width: 100%; 
   
}
.streak{
  border: 1px solid white;
  border-radius: 999px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 1rem;
  color: white;
  background-color: rgb(202, 196, 196);
  font-size: 1rem;
  padding: 1rem 0.8rem;
  font-weight: 600;
  background: linear-gradient(90deg, #ff8a00, #ffb347);
}
.para {
  font-size: 0.8rem;
  color: grey;
}
.rightnav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hamburgerbtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}