.main {
  padding-top: 5rem;
  background-color: #fff1e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.profilePic {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.username {
  font-size: 1.4rem;
  font-weight: 600;
}

.section {
  width: 90%;
  max-width: 420px;
  background: white;
  border-radius: 14px;
  padding: 1rem 1.2rem;
  margin-top: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
}

.sectionTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}


.row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  border-bottom: 1px solid #eee;
}

.row:last-child {
  border-bottom: none;
}


.editButton {
  width: 100%;
  margin-top: 1rem;
  padding: 0.6rem;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #ff8a00, #ffb347);
}

.editButton:hover {
  opacity: 0.9;
}